# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.log

# Virtual environment
venv/
.env
*.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test reports
*.html
*.xml
reports/